exo_k>=1.2.2
h5py>=3.8.0
matplotlib>=3.7.1
numpy>=1.23.5
pandas>=2.0.1
petitRADTRANS>=2.6.3
pyDOE>=0.3.8
scipy>=1.12.0
seaborn>=0.13.2
sobol_seq>=0.2.0
torch==2.0.0+cpu
torchvision==0.15.1+cpu
tqdm>=4.65.0
